
@model string

<div id="modaldelete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Delete</h6>
            </div>

            <div class="modal-body">

                <p>Are you sure you want to delete</p>

                <hr>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" id="btnModalDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("item-to-delete", "", new { @id = "item-to-delete" })

<script>
    $(".deleteitem").click(function(e) {
        e.preventDefault();
        var id = $(this).data('id');
        $('#item-to-delete').val(id);
    });
    $('#btnModalDelete').click(function () {
        var id = $('#item-to-delete').val();
        $.post('@Model', { id: id }, function(data) {
            location.reload();
        });
    });
</script>
