


<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> @ViewBag.Title</h4>
        </div>
        <div class="heading-elements">
            <div class="heading-btn-group">

            </div>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home2 position-left"></i> Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Edit Firm</li>
        </ul>
        <ul class="breadcrumb-elements"></ul>
    </div>
</div>
