
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="panel panel-body login-form">
    <div class="text-center">
        <div class="icon-object border-slate-300 text-slate-300">
            <img src="~/assets/icons/android-icon-72x72.png" />
        </div>
        <h5 class="content-group">Please check your email <small class="display-block">click the link in the email</small></h5>
    </div>
</div>
